root {
    --border-gray: #747474;
    --blur-bg: linear-gradient(135deg, rgba(94, 94, 94, 0.1), rgba(94, 94, 94, 0));
}

* {
    box-sizing: border-box;
}
body{
    background-color: #0b1215;
    padding: 20px;
}


h1 {
    margin: 0;
    font-size: 24px;
    width: max-content;
}
p {
    font-size: clamp(1rem, 1vw, 1rem);
}
a {
    color: rgb(244, 244, 244);
    text-decoration: none;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(1.25rem, 2vw, 1rem);

}




.overview {
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: 28px;
    margin: 30px 50px;
}
.taskDescrip {
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: 28px;
    margin: 30px 50px;
}
.disscrip {
    display: flex;

}
.step1{
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 30px 50px;
}


.step2, .step2_1 {
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: 28px;
    margin: 30px 50px;
}



.step3{
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: 28px;
    margin: 30px 50px;
}

.step4{
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: 28px;
    margin: 30px 50px;
}
.datamodel {
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: 28px;
    margin: 30px 50px;
}

.finishWork {
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: 28px;
    margin: 30px 50px;
}